@using FeatureDemandPlanning.Model
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

<div class="alert alert-info">
    <div class="row">
        <div class="col-lg-1 text-center">
            <span class="glyphicon glyphicon-info-sign"></span>
        </div>
        <div class="col-lg-11">
            <p>Map the imported feature code to a special feature.</p>
            <p>Special features typically contain additional volume information for derivatives.</p>
            <p>Click <strong>'OK'</strong> to continue.</p>
        </div>
    </div>
</div>

@Html.Partial("_ImportActionHeader", Model)

<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Special Feature</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group form-group-sm">
                <label for="ddlSpecialFeature" class="control-label col-xs-2 text-right">Type:</label>
                <div class="col-xs-10">
                    <select id="ddlSpecialFeature" class="form-control">
                        @foreach (var specialFeature in Model.AvailableSpecialFeatures)
                        {
                            <option value="@specialFeature.FdpSpecialFeatureTypeId">@specialFeature.Description</option>
                        }
                    </select>
                </div>
            </div>
            
        </form>
    </div>
</div>

