@using FeatureDemandPlanning.Model
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

<div class="alert alert-info">
    <div class="row">
    <div class="col-lg-1 text-center">
        <span class="glyphicon glyphicon-info-sign"></span> 
    </div>
    <div class="col-lg-11">
        <p>All instances of this error will be ignored for this programme.</p>
        <p>Click <strong>'OK'</strong> to continue.</p>
    </div>
    </div>
</div>

@Html.Partial("_ImportActionHeader", Model)
