@model FeatureDemandPlanning.Model.ViewModel.ImportViewModel

<div id="dvImportSummary" class="panel panel-primary subscribers-notify" style="margin-bottom: 0">
    <div class="panel-heading" style="padding:3px 15px"><div class="panel-title" style="font-size:14px">Exception Summary</div></div>
    <div class="panel-body" style="padding-left:15px;padding-right:15px;padding-top:10px;padding-bottom:5px">
        <table class="table table-bordered table-condensed" style="font-size:11px;background-color:#fff">
            <tbody>
                @*<tr>
                    <td class="col-xs-4">Lines Imported:</td>
                    <td class="col-xs-8">@Model.Summary.SuccessLines</td>
                </tr>
                <tr>
                    <td class="col-xs-4">Lines Failed:</td>
                    <td class="col-xs-8">@Model.Summary.FailedLines</td>
                </tr>*@
                <tr>
                    <td class="col-xs-4">Total Lines:</td>
                    <td class="col-xs-8">@Model.Summary.TotalLines</td>
                </tr>
                <tr>
                    <td class="col-xs-4">Import Filename:</td>
                    <td class="col-xs-8">@Model.Summary.ImportFileName</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
