@using FeatureDemandPlanning.Model;
@using FeatureDemandPlanning.Model.Validators;
@using FeatureDemandPlanning.Extensions;
@using FeatureDemandPlanning.Helpers
@using enums = FeatureDemandPlanning.Model.Enumerations;

@model FeatureDemandPlanning.Model.ViewModel.ForecastComparisonViewModel

@{
    var comparisonVehicle = (VehicleWithIndex)ViewData["ComparisonVehicle"];
    var forecastTrimLevel = (ModelTrim)ViewData["ForecastTrim"];
    var currentTrimMappings = comparisonVehicle.Vehicle.TrimMappings.Where(t => t.ForecastVehicleTrim.Id == forecastTrimLevel.Id);

    if (!Model.ComparisonVehicleLookup[comparisonVehicle.VehicleIndex - 1].TrimLevels.Any())
    {
        <div>No trim levels available for comparison vehicle</div>
    }
    else
    {
        <div class="panel panel-primary">
            <div class="panel-heading">
                Available Mappings
            </div>
            @*Select one or more more trim levels from the comparison vehicle that map to the forecast vehicle trim level <strong>(@forecastTrimLevel.Name)</strong></div>*@
            <div class="panel-body">
                @Html.DropDownListForExtended(m => m.NonEmptyComparisonVehicles,
                                        Model.ComparisonVehicleLookup[comparisonVehicle.VehicleIndex - 1].TrimLevels,
                                        new
                                        {
                                            @class = "vehicle-filter vehicle-filter-trim",
                                            @data_index = comparisonVehicle.VehicleIndex.ToString(),
                                            @data_forecast_trim = forecastTrimLevel.Id.ToString(),
                                            @id = "ddlTrimMapping"
                                        },
                                        m => true)
                <button type="button" id="btnAddMapping" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-plus"></i> Add Mapping</button>
            </div>
        </div>
    }
}
<div id="configuredMappings" class="subscribers-notifyTrimMappingAdded subscribers-notifyTrimMappingRemoved">
    @Html.Partial("_ForecastTrimMapping", Model)
</div>
