<!-- Dummy placeholders for pages, just to allow the paging to work even though actual page content is dynamically loaded -->
<div style="display:none">
    <div class="page">Forecast Vehicle</div>
    <div class="page">Forecast Comparison</div>
    <div class="page">Trim</div>
    <div class="page">Forecast</div>
</div>
