@using FeatureDemandPlanning.Model;
@using FeatureDemandPlanning.Model.Validators;
@using enums = FeatureDemandPlanning.Model.Enumerations;

@model FeatureDemandPlanning.Model.ViewModel.ForecastComparisonViewModel

@{
    var comparisonVehicle = (VehicleWithIndex)ViewData["ComparisonVehicle"];
    var forecastTrimLevel = (ModelTrim)ViewData["ForecastTrim"];
    var configuredMappings = (IEnumerable<ModelTrim>)ViewData["ConfiguredMappings"];
    
    if (configuredMappings.Any())
    {
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Configured Mappings</div>
            <table class="table">
                <tbody>
                    @foreach (var mapping in configuredMappings)
                    {
                        <tr>
                            <td>@mapping.Name</td>
                            <td>
                                <a class="btn btn-danger btn-sm removeMapping" href="#" data-index="@comparisonVehicle.VehicleIndex" data-forecast-trim-id="@forecastTrimLevel.Id" data-trim-id="@mapping.Id">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
