@model FeatureDemandPlanning.Controllers.ValidationMessage

@if (Model != null && !Model.IsValid) { 
<div class="alert alert-dismissible alert-warning">
    @foreach (var error in Model.Errors)
    {
    <ul>
        @foreach (var childError in error.errors)
        {
            <li>@childError.ErrorMessage</li>
        }
    </ul>
    }
</div>
}
