<div class="row">
    <div class="col-lg-8">
        <div class="pull-right">
            <button type="button" class="btn btn-primary subscribers-notifyPageChanged subscribers-notifyFirstPage subscribers-notifyLastPage" id="btnPrevious" style="display:none">&lt; Previous</button>
            <button type="button" class="btn btn-primary subscribers-notifyPageChanged subscribers-notifyFirstPage subscribers-notifyLastPage" id="btnNext">Next &gt;</button>
        </div>
    </div>
</div>
