@using enums = FeatureDemandPlanning.Model.Enumerations

@section PageBody
{
    <div class="row" style="margin-bottom:30px">
        <div class="col-xs-12 inverse text-center">
            <h1 class="text-capitalize">Trim</h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 text-center inverse home-button">
        <a href="@Url.Action("MapTrim", "Trim")">
            <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
        </a>
        <h2 style="height:66px">Map Trim</h2>
        <p style="height:40px">Map Trim to the corresponding OXO equivalent</p>
        <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("MapTrim", "Trim")" role="button">Map Trim</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 text-center inverse home-button">
        <a href="@Url.Action("Index", "Trim")">
            <img src="~/Content/Images/Icons/mapping64.png" style="opacity:0.9;border:0" />
        </a>
        <h2 style="height:66px">FDP Trim</h2>
        <p style="height:40px">Trim added to supplement the OXO data</p>
        <p><a class="btn btn-default col-xs-10 col-xs-offset-1" href="@Url.Action("Index", "Trim")" role="button">FDP Trim</a></p>
    </div>

}


