@using FeatureDemandPlanning.BusinessObjects
@using enums = FeatureDemandPlanning.Enumerations

@model FeatureDemandPlanning.Models.ImportViewModel
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 text-right">Import Feature Code:</div>
            <div class="col-xs-8">
                @Model.CurrentException.ImportFeatureCode
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-right">Import Feature:</div>
            <div class="col-xs-8">
                @Model.CurrentException.ImportFeature
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-right">Programme:</div>
            <div class="col-xs-8">@Model.Programme.GetDisplayString();</div>
        </div>
    </div>
</div>



<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">Mapping</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group form-group-sm">
                <label for="ddlFeatureGroup" class="control-label col-xs-2 text-right">Feature Group:</label>
                <div class="col-xs-10">
                    <select id="ddlFeatureGroup" class="form-control">
                        
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="ddlFeatureSubGroup" class="control-label col-xs-2 text-right">Feature Sub-group:</label>
                <div class="col-xs-10">
                    <select id="ddlFeatureSubGroup" class="form-control">
                        
                    </select>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="ddlFeature" class="control-label col-xs-2 text-right">Feature:</label>
                <div class="col-xs-10">
                    <select id="ddlFeature" class="form-control">
                       
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

