@model FeatureDemandPlanning.Models.ImportViewModel

@using (Html.BeginForm("Upload", "Import", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            Import File
        </div>
       <div class="panel-body">

            <div class="form-group">
                <label for="fileToUpload" class="inverse">Choose file to import</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-primary btn-file">
                            Browse&hellip; <input id="fileToUpload" name="fileToUpload" type="file" />
                        </span>
                    </span>
                    <input type="text" id="txtFilename" class="form-control input" readonly />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Import</button>
                    </span>
                </div>

            </div>
       
           </div>

    </div>

}
