@using FeatureDemandPlanning.BusinessObjects
@using enums = FeatureDemandPlanning.Enumerations

@*@section PageScripts{
    <script src="@Url.Content("~/Scripts/Import/home.js")?v=@FeatureDemandPlanning.Models.SharedModelBase.CurrentVersion"></script>
}

@section PageStyles{
    <link href="@Url.Content("~/Styles/Import/home.css")?v=@FeatureDemandPlanning.Models.SharedModelBase.CurrentVersion" rel="stylesheet" type="text/css" />
}*@

@section PageBody
{
    <div class="row" style="margin-top:20px">
        
        
        <div class="col-lg-2 col-lg-offset-2 text-center inverse">
            <img src="~/Content/Images/Icons/create128.png" style="opacity:0.9;border:0" />
            <h2 style="height:66px">Create</h2>
            <p style="height:60px">Create new forecast from current volume data</p>
            <p><a class="btn btn-default" href="~/Forecast" role="button">Create</a></p>
        </div>
        <div class="col-lg-2 text-center inverse">
            <img src="~/Content/Images/Icons/edit128.png" style="opacity:0.9;border:0" />
            <h2 style="height:66px">Edit</h2>
            <p style="height:60px">Edit an existing forecast</p>
            <p><a class="btn btn-default" href="#edit" role="button">Edit</a></p>
        </div>
        <div class="col-lg-2 text-center inverse">
            <img src="~/Content/Images/Icons/chat128.png" style="opacity:0.9;border:0" />
            <h2 style="height:66px">Market Review</h2>
            <p style="height:60px">Submit forecast to markets for further input and review</p>
            <p><a class="btn btn-default" href="#create" role="button">Review</a></p>
        </div>
        <div class="col-lg-2 text-center inverse">
            <img src="~/Content/Images/Icons/publish128.png" style="opacity:0.9;border:0" />
            <h2 style="height:66px">Publish &amp; Share</h2>
            <p style="height:60px">Publish the forecast information and share with interested parties</p>
            <p><a class="btn btn-default" href="#edir" role="button">Publish</a></p>
        </div>
        
    </div>
    <div class="row" style="margin-top:25px">
    <div class="col-lg-1"></div>
    
   
    <div class="col-lg-1"></div>
</div>
<div class="row">
   
    <div class="col-lg-2 col-lg-offset-3 text-center inverse">
        <a href="~/Import">
            <img src="~/Content/Images/Icons/import64.png" style="opacity:0.9;border:0" />
            </a>
            <h3>Import</h3>
            <p>Import volume data from external source</p>
            <p><a class="btn btn-default" href="~/Import" role="button">Import</a></p>
</div>
    <div class="col-lg-2 text-center inverse">
        <a href="~/Reports"><img src="~/Content/Images/Icons/reports64.png" style="opacity:0.9;border:0" /></a>
        <h3>Reports</h3>
        <p>Produce reports from FDP</p>
        <p><a class="btn btn-default" href="~/Reports" role="button">Reports</a></p>
    </div>
    <div class="col-lg-2 text-center inverse">
        <a href="~/Admin"><img src="~/Content/Images/Icons/admin64.png" style="opacity:0.9;border:0" /></a>
        <h3>Administration</h3>
        <p>Perform administration activities within FDP</p>
        <p><a class="btn btn-default" href="~/Admin" role="button">Admin</a></p>
    </div>
</div>
}


