<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SendMailSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://radsdev.portsmouth.jlrint.com/Services/SendMail.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendMailSoap"
                contract="RADSMailService.SendMailSoap" name="SendMailSoap" />
        </client>
    </system.serviceModel>
</configuration>