@using FeatureDemandPlanning.Model;
@using enums = FeatureDemandPlanning.Model.Enumerations;

@model FeatureDemandPlanning.Model.ViewModel.EngineCodeMappingViewModel

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Configured Mappings</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="tblEngineCodeMappings" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Make</th>
                        <th>Vehicle</th>
                        <th>Model Year</th>
                        <th>Engine</th>
                        <th>Fuel</th>
                        <th>Power</th>
                        <th><i class="glyphicon glyphicon-ok"></i></th>
                        <th>External Code</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

