@using FeatureDemandPlanning.Helpers
@using enums = FeatureDemandPlanning.Model.Enumerations

@model FeatureDemandPlanning.Model.ViewModel.TakeRateViewModel

<div class="row subscribers-notifyFilterComplete" data-index="0">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Vehicle</div>
            </div>

            <div class="panel-body">

                <div class="row subscribers-notifyVehicle subscribers-notifyValidation vehicle-filter" data-index="0" data-val="Volume" style="display:block">

                    <div class="col-lg-4">
                        @Html.DropDownListForExtended(m => m.Volume.Vehicle.Make, Model.VehicleLookup.Makes,
                            new
                            {
                                @id = "ddlMake",
                                @name = "Make",
                                @class = "subscribers-notifyMakes vehicle-filter-make",
                                @style = "display:none",
                                @data_index = "0"
                            },
                            m => true)
                        <label class="control-label inverse" for="ddlProgramme">Car Line</label>
                        @Html.DropDownListForExtended(m => m.Volume.Vehicle.Code, Model.VehicleLookup.Programmes,
                            new
                            {
                                @id = "ddlProgramme",
                                @name = "Programme",
                                @class = "form-control subscribers-notifyProgrammes vehicle-filter-programme",
                                @data_index = "0"
                            },
                            m => true)
                    </div>

                    <div class="col-lg-4">
                        <label class="control-label inverse" for="ddlModelYear">Model Year</label>
                        @Html.DropDownListForExtended(m => m.Volume.Vehicle.ModelYear, Model.VehicleLookup.ModelYears,
                            new
                            {
                                @id = "ddlModelYear",
                                @name = "ModelYear",
                                @class = "form-control subscribers-notifyModelYears vehicle-filter-modelYear",
                                @data_index = "0",
                            },
                            m => !string.IsNullOrEmpty(m.Volume.Vehicle.Code))
                    </div>

                    <div class="col-lg-4">
                        <label class="control-label inverse" for="ddlGateway">Gateway</label>
                        @Html.DropDownListForExtended(m => m.Volume.Vehicle.Gateway, Model.VehicleLookup.Gateways,
                            new
                            {
                                @id = "ddlGateway",
                                @name = "Gateway",
                                @class = "form-control subscribers-notifyGateways vehicle-filter-gateway",
                                @data_index = "0"
                            },
                            m => !string.IsNullOrEmpty(m.Volume.Vehicle.ModelYear))
                    </div>

                </div>

                <div class="row subscribers-notifyVehicle vehicle-readonly" data-index="0" style="display:none">
                    <div class="col-lg-4">
                        <label class="control-label inverse" for="lblProgramme">Programme</label>
                        <p id="lblProgramme" class="subscribers-notifyVehicle vehicle-readonly vehicle-readonly-programme" data-index="0"></p>
                    </div>

                    <div class="col-lg-4">
                        <label class="control-label inverse" for="lblModelYear">Model Year</label>
                        <p id="lblModelYear" class="subscribers-notifyVehicle vehicle-readonly vehicle-readonly-modelYear" data-index="0"></p>
                    </div>

                    <div class="col-lg-4">
                        <label class="control-label inverse" for="lblGateway">Gateway</label>
                        <p id="lblGateway" class="subscribers-notifyVehicle vehicle-readonly vehicle-readonly-gateway" data-index="0"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


