<!-- Dummy placeholders for pages, just to allow the paging to work even though actual page content is dynamically loaded -->
<div style="display:none">
    <div class="page">Vehicle</div>
    <div class="page">Import</div>
    <div class="page">OXO Document</div>
    <div class="page">Confirm</div>
    @*<div class="page">Process</div>*@
    <div class="page">Volume Data</div>
</div>
