div#oxo-validate-summary
{
    color:White;    
    font:normal 18px Tahoma,arial,helvetica,sans-serif;
    background: url("../../Content/Images/Editor/validate.png") no-repeat 0px 0px;
    padding-left: 50px;
    height:40px;
    margin-bottom: 10px;
}

div#dtable-title-wrapper
{
    display:inline-block;
}

div#dtable-title
{
    position: relative;
    font-size:16px;
    top: 0px;
 
}

div#dtable-info
{
    position: relative;
    font-size:11px;
    top: 2px;
    width: 500px;
}

div#dtable-filter
{
    position:relative;
    top: 12px;
    text-align:left;
    display:inline-block;
    font-size:13px;
    margin-left:20px;
    float:right;
}

div#dtable-filter input
{
    width:80px!important;
    padding-top:3px!important;
    font-size:14px!important;
}

div.dataTables_wrapper div.top
{
    display:none;
    height:39px;
    background-color: transparent;
    border: none;
    padding: 3px 10px 10px 10px;
}


table.display tr.select-row 
{
    background-color: #d8d8d8;
    color: black;

}

div.dataTables_info {
/*position: absolute;
top: 615px;
left: 0px;
color: White;
font-weight: normal;*/
display:none;
}

div.dataTables_filter 
{
    font-weight: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    position: relative;
    top: 15px;
    left: -45px;
    color: White;
    width:165px;

}

div.dataTables_filter input
{
    width:100px;
}

div.dataTables_paginate 
{
    position: relative;
    top:14px;
    left: 934px;
    float:left; 
}

a.paginate_enabled_previous,
a.paginate_disabled_previous,
a.paginate_enabled_next,
a.paginate_disabled_next
{
    display:inline-block;
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin: 0px 1px;
}

a.paginate_disabled_previous
{    
    background: url('../../Content/Images/Admin/disable-prev-but.png') no-repeat 0px 0px; 
}    

a.paginate_enabled_previous
{    
    background: url('../../Content/Images/Admin/prev-but.png') no-repeat 0px 0px; 
}    
   
a.paginate_disabled_next
{    
    background: url('../../Content/Images/Admin/disable-next-but.png') no-repeat 0px 0px; 
}    

a.paginate_enabled_next
{    
    background: url('../../Content/Images/Admin/next-but.png') no-repeat 0px 0px; 
}    

div#clone-column-header
{
    margin:0px;
    padding:0px;
    width:100%;
}

table#oxo-table
{
    position:relative;
}

div#oxo-table_filter
{
    left:15px !important;
}

div#oxo-core-table_filter
{
    left:15px !important;
}

tr.oxo-data-row,
tr.oxo-data-row-2,
tr.oxo-trm-row
{
    height:26px;
}

td.ticked
{
    cursor:pointer!important;
    background: url('../../Content/Images/Editor/tick.png') no-repeat center center!important;  
}

td.unticked
{
    cursor:pointer!important;
     background-image: none!important;  
}

td.tracked
{
    background-color: #C5E3BF!important;
}

td.oxo-data
{
  padding:0px!important;
  font:normal 14px arial,helvetica,sans-serif;       
  text-align:center;
  cursor: pointer;
}

div#cboMarket
{
    display:inline-block;
    height:27px;
    float:left;
    position:relative;
    top: 10px;
    left:20px;
    font-size: 13px;
}

div#cboMarketLable
{
    display:inline-block;
    float:left;
    position:relative;
    left:20px;
    top: 16px;   
    font-size: 13px;
}

div.cboMode
{
    display:inline-block;
    height:27px;
    float:left;
    position:relative;
    top: 10px;
    left:20px;
    font-size: 13px;
    margin-right: 10px;
}

div.cboModeLable
{
    display:inline-block;
    float:left;
    position:relative;
    left:20px;
    top: 16px;   
    font-size: 13px;
    color:white
}

ul.dropdown-menu li
{
    padding:1px 0px 2px 0px;    
}

ul.dropdown-menu li ul
{
    padding: 5px 0px;

}

ul.dropdown-menu li ul li ul
{
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden; 
    padding-right: 20px!important;   
}

ul.dropdown-menu li ul li
{
    font-size:13px;
    padding:1px 0px 2px 0px;

}

span#market-selected
{
    display:inline-block;
    width:125px;
    font-size:13px;

}

span.historic-rate
{
    display:inline-block;
    width:25px;
    margin-right:4px;
    margin-left:4px;
    background-color: #ffffcc;
}

input.current-rate
{
    display:inline-block;
    width:28px;
}


th.model
{
    background-color: black!important;
    color: white!important;
    font-size: 11px!important;
    width: 70px;
    border-bottom: 1px solid white;
    border-right11: 1px solid white!important;
    padding:0px!important;
    text-align: center!important;
    height: 94px;
    outline: 0;
}

th.header-A
{
    border-bottom: 1px solid white;
    border-right: 1px solid white!important;
    padding:0px!important;
    height: 94px;
}


table#clone-oxo-table thead tr th {
    background-color: #000000;
    font-size: 13px;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;	
	border-bottom: 1px solid #FFFFFF;	
	text-align:left;
	font-weight:normal;
}


table#oxo-table tr td.group
{
    background-color: #323232;
    color: #FFFFFF;
	border-right: 0px solid #FFFFFF;	
	border-top: 1px solid #FFFFFF;	
	border-bottom: 0px solid #FFFFFF;	
	text-align:left;
	font-weight:normal;
	padding1: 0px 0px 0px 23px;
	height: 28px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table#oxo-table tr td.subgroup
{
    background-color: #5c5c5c;    
    color: #FFFFFF;
	border-right: 0px solid #FFFFFF;	
	border-top: 1px solid #FFFFFF;	
	border-bottom: 0px solid #FFFFFF;	
	text-align:left;
	font-weight:normal;
	padding1: 0px 0px 0px 23px;
	height: 28px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table#oxo-table11 tr.oxo-row td:first-child
{
    padding-left:33px!important;
}

table#oxo-table11 tr.oxo-row td:first-child
{
    padding-left:33px!important;
}

table#oxo-table tr.oxo-row
{
    cursor:pointer;
}

table#oxo-table tr.oxo-row:hover
{
    background-color: #d8d8d8;
    color: black;
}

table#oxo-table tr.oxo-row td img
{
    padding-left:5px;
}

table.display tr td.expanded-group[data-group-level='0'] {
    background: #C3A0FF url("../../Content/Images/Admin/close-but.png") no-repeat 4px 6px;
    cursor: pointer;
    padding: 0px 0px 0px 23px;
}

table.display tr td.collapsed-group[data-group-level='0'] {
    background: #C3A0FF url("../../Content/Images/Admin/open-but.png") no-repeat 4px 6px;
    cursor: pointer;
    padding: 0px 0px 0px 23px;
}

table.display tr td.expanded-group[data-group-level='1'] {
    background: #C3A0FF url("../../Content/Images/Admin/close-but.png") no-repeat 17px 6px;
    cursor: pointer;
    padding: 0px 0px 0px 36px;
}

table.display tr td.collapsed-group[data-group-level='1'] {
    background: #C3A0FF url("../../Content/Images/Admin/open-but.png") no-repeat 17px 6px;
    cursor: pointer;
    padding: 0px 0px 0px 36px;
}


div.oxo-box
{
    position:relative;
    margin:0px;
    padding:0px;
    display:inline-block;      
    vertical-align:top;
}

div#clone-column-header
{ 
    overflow:hidden;
}

div#left-pane-header,
div#left-pane
{ 
    z-index: 1;
}

div#no-model
{
    font-size: 16px;
    color: White;
    width:600px;   
    /*z-index: 10;*/
    background: url('../../Content/Images/Admin/info-icon.png') no-repeat 0px 0px; 
    padding-left: 50px;
    height:40px;
}

div#right-pane-header
{
  width:1400px;    
  margin-left: 0px;
}

div#right-pane
{
   width:1400px;    
   margin-left: 0px;
}

table.oxo-table
{
    table-layout: fixed;    
}

.wtf
{
    text-align:center;
    width:70px;
    border-left: 1px solid gray;
    padding:0px!important;
}

div.blocker
{
    display:inline-block;
    height:24px;
    width:100%;
    cursor:pointer;
}


a.close-but
{
   background: url('../../Content/Images/Admin/close-model-but.png') no-repeat 0px 0px;     
   height: 30px;
   width: 80px;
   display:inline-block;
   margin-top:12px;
   text-align:right;
}

a.close-but span
{
   font-size: 11px;
   color: White; 
   display:inline-block; 
   position: relative;
   top: 7px;
   right:8px;  
}


div.form-row
{
    padding: 2px 10px;
    font-size:11px;
}

span.form-label
{
    display:inline-block;
    width:80px;
    
}

div.form-button
{
    text-align:center; 
    font-size:11px;
    margin: 10px 0px 0px 0px;
}

a.ok-but
{
   background: url('../../Content/Images/Admin/ok-but.png') no-repeat 0px 0px;     
   height: 30px;
   width: 84px;
   display:inline-block;
   text-align:right;
   color:White;
}

a.cancel-but
{
   background: url('../../Content/Images/Admin/cancel-but.png') no-repeat 0px 0px;     
   height: 30px;
   width: 84px;
   display:inline-block;
   text-align:right;
   color:White;
}

a.ok-but span, a.cancel-but span
{
    position:relative;
    top:8px;
    right:8px;
}



div#model-filter
{
    float:right;    
    position:relative;
    font:normal 11px Tahoma,arial,helvetica,sans-serif;
    color: white;
    top: -34px;
    left: -4px;
    display:none;
}

img.more-info
{
    vertical-align:middle;
    cursor:pointer;
    float:right;
    position:relative;
    right: 3px;    
}

td.locked
{
   background-color:#080808;
   color:white;
   cursor: normal!important;
}

td.generic
{
   color:#A02422;    
}

td.mglevel
{
   color:#1E90FF;    
}

td.ellipsis
{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

div#cboModeLable
{
    display:inline-block;
    float:left;
    position:relative;
    left:20px;
    top: 16px;   
    font-size: 13px;
    color:#FFFFFF;
}

.sm-simple li {
    width: 138px;
}

div#go-button 
{
    float:left;
    padding: 6px 16px;
    display:inline-block;
    border:0px solid black;
	background:#1a7449;
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 1px rgba(0,0,0,0.2);
	font-size: 13px;
    color:White;
    position:relative;
    left:18px;
    top: 10px; 
    cursor:pointer;  
    
}

ul#show-mode-menu li
{
    width:90px!important;
}

ul#show-mode-menu li ul
{
    width:90px!important;
    min-width:90px!important;
}