div#edit-comp-layer
{
    display:none;   
    width:100%;
    height:0px;
    background-color: black;
    /*z-index: 2;*/
    position:absolute;
    top: 0px;
    left: 0px;
    opacity:0.60;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

div#edit-market-layer
{
    display:none;
    font-size:12px;
    position:absolute;
    width: 240px;
    top: 20px;
    left:184px;
    z-index: 1030; 
    background-color: #C8C8C8;
    border: 4px solid #1a7449;
    border-top: 0px;
}

div#edit-deriv-layer
{
    display:none;
    font-size:12px;
    position:absolute;
    width: 400px;
    top: 20px;
    left:104px;
    z-index: 1030; 
    background-color: #C8C8C8;
    border: 4px solid #1a7449;
    border-top: 0px;
}

div#edit-feat-layer
{
    display:none;
    font-size:12px;
    position:absolute;
    width: 400px;
    top: 20px;
    left:104px;
    z-index: 1030; 
    background-color: #C8C8C8;
    border: 4px solid #1a7449;
    border-top: 0px;
}

span.edit-comp-header
{
    display:block;
    background-color: #1a7449;
    color: White;
    width: 100%;
    text-align:center;
    padding: 10px 0px 10px 0px;
    margin-bottom: 5px;
}