div.model-component
{
    display:inline-block;
    width:259px;
    height:135px;
    border:1px solid black;
    margin: 0px 4px 10px 4px;
}

span.model-component-header
{
    display:inline-block;
    width:252px;
    background-color:black;
    color:white;
    padding: 5px 0px 7px 5px;
    font-weight:bold;
}

span.model-component-body
{
    display:inline-block;
    width:100%;
    height:108px;
    overflow-y:scroll;
    overflow-x:hidden;
    text-align:left;    
    background-color:White;
}

span.model-component-item
{
    font-size: 12px;
    display:inline-block;
    width:100%;
    padding: 6px 0px 7px 26px;
    text-align:left;       
}

span.model-component-item:hover
{
   background-color:#1a7449;
   color:White;
}

div.model-coa
{
    display:inline-block;
    width:530px;
    height:54px;
    border:1px solid black;
    margin: 0px 4px 10px 4px;
    overflow: hidden
}

span.model-coa-header
{
    display:inline-block;
    width:523px;
    background-color:black;
    color:white;
    padding: 5px 0px 7px 5px;
    font-weight:bold;
}

div#model-select
{
    width:530px;
    margin-left: 10px;
    overflow:hidden;
}

div#model-select-inner
{
    height:95px;   
    overflow:visible;
    text-align:left;    
}

span.selected
{
   background: url('../../Content/Images/Editor/Selected.png') no-repeat 4px 4px;      
}

th.model2
{
    font:normal 11px Tahoma,arial,helvetica,sans-serif;
    background-color: black!important;
    color: white!important;
    width: 70px;
    border-bottom: 1px solid white;
    padding:0px!important;
    text-align: center!important;
    height: 94px;
    outline: 0;
}

ul.model-selected-list
{
    height:150px;
    overflow-y:auto;
    overflow-x:hidden;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    
}

li.model-selected
{
    background-color:Black;
    border-bottom: 1px solid white;
    color:White;
    font:normal 11px Tahoma,arial,helvetica,sans-serif;
    padding: 4px 5px;
}

div#model-count
{
    text-align:left;
    margin-bottom:10px;
    font-weight:bold;
    margin-left:10px;
}