@model FeatureDemandPlanning.Model.Results.JsonActionResult

<div class="alert alert-danger" role="alert">
    <div class="row">
        <div class="col-lg-2">
            <span class="glyphicon glyphicon-ban-circle"></span>
        </div>
        <div class="col-lg-10">

        </div>
    </div>
</div>

<div class="alert alert-warning" role="alert">
    <div class="row">
        <div class="col-lg-2">
            <span class="glyphicon glyphicon-warning-sign"></span>
        </div>
        <div class="col-lg-10">

        </div>
    </div>
</div>

<div class="alert alert-success" role="alert">
    <div class="row">
        <div class="col-lg-2">
            <span class="glyphicon glyphicon-ok-sign"></span>
        </div>
        <div class="col-lg-10">

        </div>
    </div>
</div>

<div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-lg-2">
            <span class="glyphicon glyphicon-info-sign"></span>
        </div>
        <div class="col-lg-10">

        </div>
    </div>
</div>